@import "~bootstrap/scss/bootstrap";

@import "variables";
@import "icons";
@import "homepage";
@import "festival";
@import "events";
@import "contact";
@import "about_festival";
@import "donate";
@import "partners";
@import "crowdfunding";
@import "crowdfunding_stars";
@import "crowdfunding_rocket2";
@import "crowdfunding_candle";
@import "stream";
@import "speaker";
@import "podcast";

body {
  min-height: 100vh;
  background: url("../img/bg-stars.svg") no-repeat black;
  background-position-x: center;
  color: white;

  font-family: $font-main;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $c-orange-light;

  &:hover, :focus {
    color: $c-orange-light;
  }
}

.site-header {
  font-family: $font-special;
  text-transform: uppercase;

  a {
    color: white;
    display: block;
  }

  .logo img {
    width: 8rem;
    height: 8rem;
  }

  .main-information {
    height: 100%;
    border-left: 1px solid white;

    h1 {
      font-size: 1.05rem;
      margin-bottom: 0.3rem;
    }

    .place, time {
      font-size: 0.875rem;
      color: #D3D3D3;
    }

    p {
      margin: 0
    }
  }
}

header .navbar {
  text-transform: uppercase;
  font-weight: bold;

  li.nav-item {
    background-color: $c-menu-bg;
    border-right: 2px solid black;

    &:last-child {
      border-right: none !important;
    }

    &:hover {
      background-color: red;
      transition: all 0.5s;

      &:nth-child(1) {
        a {
          color: #32393a;
        }

        background-color: #d4f2f9;
      }

      &:nth-child(2) {
        a {
          color: #2f2f3b;
        }

        background-color: #cbc7ff;
      }

      &:nth-child(3) {
        a {
          color: #392b2d;
        }

        background-color: #f4b8c3;
      }

      &:nth-child(4) {
        a {
          color: #3b332a;
        }

        background-color: #f9d9b7;
      }

      &:nth-child(5) {
        a {
          color: #393624;
        }

        background-color: #f4e59a;
      }

      &:nth-child(6) {
        a {
          color: #383926;
        }

        background-color: #ecf2a5;
      }

      &:nth-child(7) {
        a {
          color: #272D38;
        }

        background-color: #ABC4F4;
      }

      &:nth-child(8) {
        a {
          color: #2A382B;
        }

        background-color: #B8F4BB;
      }

      &:nth-child(9) {
        a {
          color: #32393a;
        }

        background-color: #d4f2f9;
      }
    }

    a.nav-link {
      color: $c-menu-text;
      word-break: break-word;
    }
  }
}

body > footer {
  font-family: $font-special;
  font-weight: bold;
  background-color: $c-bg;
  color: $c-menu-text;
  font-size: 0.9rem;

  h3 {
    font-size: 1.1rem;
  }

  a {
    color: white;
    opacity: 0.8;

    &:hover, &:focus {
      color: $c-special;
      text-decoration: none;
      opacity: 1;
    }
  }

  p {
    margin-bottom: 0;
  }

  .copy {
    background-color: $c-menu-bg;
  }

  .cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: $font-main;

    .alert {
      padding-right: 30px;
      box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);

      > span {
        opacity: 0.9;
      }

      button {
        padding: 0 10px 0 5px;
      }
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.m {
  &-01 {
    margin: 0.15rem !important;
  }

  &r-01 {
    margin-right: 0.15rem !important;
  }

  &t-01 {
    margin-top: 0.15rem !important;
  }

  &x-n02 {
    margin-left: -2px;
    margin-right: -2px;
  }
}

.p {
  &x-02 {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .p {
    &x-xl-2rem {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }
  }
}

.language-switcher-head {
  font-size: 0.8rem;
  font-family: $font-special;
  padding-right: 1%;

  .link-group {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }

  a {
    background-color: $c-light-grey;
    color: black;
    font-weight: bold;
    display: block;
    padding: 3px 8px 0px 8px;
    text-transform: uppercase;

    &:hover {
      background-color: white;
      color: black;
      text-decoration: none;
    }

    &.spacer {
      border-right: 2px solid black;
    }
  }
}


#page-editing-bar {
  // by default Wagtail's userbar is not displayed
  display: none;
}

.template-generic {
  article {
    background-color: $c-bg;
    font-size: 1.1rem;

    p {
      margin-bottom: 1rem;
    }
  }
}
