{% load wagtailuserbar %}
{% load static i18n i18n_extra %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8"/>
  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <meta property="og:title" content="{% block og_title %}{{ self.title }}{% endblock %}"/>
  <meta property="og:image"
        content="{% block og_image %}{{ self.get_url_parts.1 }}{% static "img/default_og_image.png" %}{% endblock %}"/>
  <meta property="og:type" content="{% block og_type %}website{% endblock %}"/>
  <meta property="og:url" content="{% block og_url %}{{ self.get_full_url }}{% endblock %}"/>
  <meta property="og:locale" content="{% current_locale %}"/>
  {% block extra_meta %}{% endblock %}

  {% include "favicon.html" %}

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static "dist/bundle.css" %}">

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body class="d-flex flex-column {% block body_class %}{% endblock %}">

<div id="page-editing-bar">
  {% wagtailuserbar %}
</div>


{% if request.get_host == "test.hanusovedni.sk" %}
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-6">
        <div class="alert alert-danger text-center m-2" role="alert">
          <strong>
            Testovacia verzia stránky!
            Prejsť na <a href="https://hanusovedni.sk/">oficiálnu verziu</a>.
          </strong>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% block header_content %}
  {% include "header.html" %}
{% endblock %}

{% block content %}{% endblock %}

<div class="container-fluid position-absolute" style="top: 0; right: 15%">
  <div class="language-switcher-head">
    <div class="d-flex flex-row justify-content-end">
      <div class="link-group d-flex">
        {% get_available_languages as languages %}
        {% for lang_code, lang_name in languages %}
          {% language lang_code %}
            {% if forloop.first %}
              <a href="{% url "choose-lang" lang_code %}" class="spacer">{{ lang_code }}</a>
            {% else %}
              <a href="{% url "choose-lang" lang_code %}">{{ lang_code }}</a>
            {% endif %}
          {% endlanguage %}
        {% endfor %}
      </div>

      <div class="link-group d-flex ml-2">
        <a href="/bhd/podcast/"><i class="fas fa-microphone-alt"></i> Podcast</a>
      </div>
    </div>
  </div>
</div>


{% block footer_content %}
  {% include "footer.html" %}
{% endblock %}

{# Global javascript #}
<script type="text/javascript" src="{% static "dist/index.js" %}"></script>
<script defer src="https://kit.fontawesome.com/8a0d4a7b33.js" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=UA-30977387-1"></script>
<script>
  window.dataLayer = window.dataLayer || []

  function gtag () {dataLayer.push(arguments)}

  gtag('js', new Date())
  gtag('config', 'UA-30977387-1')
</script>


{% block extra_js %}
  {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
